<!-- DESPLIEGA EL BOTON -->
<div class="text-center">
  <button type="button" class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#addUser">
    <i class="fa fa-user-plus" aria-hidden="true"></i> Add User</button>
</div>
<hr>

<div>
  <div class="container">
    <div class="products-container">
      <div *ngFor="let user of users" class="product" data-name="p-1">
        <h5 class="card-title">{{ user.name +' '+user.surname }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
        <p class="card-text">{{ user.role }}</p>
        <button class="btn btn-warning m-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample">
          <i class="fa fa-pencil" aria-hidden="true"></i> Update
        </button>
        <button (click)="deleteUser(user._id)" class="btn btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        <button class="btn btn-secondary ms-2"> <i class="fa fa-eye" aria-hidden="true"></i> View</button>
      </div>
    </div>

  </div>
</div>

<!-- DESPLIEGA TODOS LOS USUARIOS EXISTENTES 
<div class="row">
  <div *ngFor="let user of users" class="card m-4 text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ user.name +' '+user.surname }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
      <p class="card-text">{{ user.role }}</p>
      <button class="btn btn-warning m-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <i class="fa fa-pencil" aria-hidden="true"></i> Update
      </button>
      <button class="btn btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
      <button class="btn btn-secondary ms-2"> <i class="fa fa-eye" aria-hidden="true"></i> View</button>
    </div>
  </div>
</div>-->


<!-- Modal Save User -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user-circle" aria-hidden="true"></i>
          Add User:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form #addUserForm="ngForm">
          <div class="mb-3">
            <label for="nameUser" class="form-label">Name</label>
            <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="nameUser"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="surnameUser" class="form-label">Surname</label>
            <input [(ngModel)]="user.surname" name="surname" type="text" class="form-control" id="surnameUser">
          </div>
          <div class="mb-3">
            <label for="usernameUser" class="form-label">Username</label>
            <input [(ngModel)]="user.username" name="username" name="price" type="text" class="form-control"
              id="usernaUser">
          </div>
          <div class="mb-3">
            <label for="passwordUser" class="form-label">Password</label>
            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="passwordUser">
          </div>
          <div class="mb-3">
            <label for="emailUser" class="form-label">Email</label>
            <input [(ngModel)]="user.email" name="email" name="price" type="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="phoneUser" class="form-label">Phone</label>
            <input [(ngModel)]="user.phone" name="phone" type="tel" class="form-control" id="phoneUser">
          </div>
          <div class="mb-3">
            <label class="form-label">Role</label>
            <select [(ngModel)]="user.role" name="role" class="form-select" aria-label="Default select example">
              <option disabled value="" selected>Choose a Role</option>
              <option>ADMIN</option>
              <option>CLIENT</option>
            </select>
          </div>
        </form>

      </div>
      <div class=" modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Save</button>
        <button (click)="saveUser(addUserForm)" type="submit" class="btn btn-success" data-bs-dismiss="modal"><i
            class="fa fa-floppy-o" aria-hidden="true"></i> Save User
        </button>
      </div>
    </div>
  </div>
</div>