<section class="vh-100" style="background-color: #16191C;">
  <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                  <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign Up</p>

                              <form (ngSubmit)="register()" #registerForm="ngForm" class="mx-1 mx-md-4">

                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <i class="color fas fa-user fa-lg me-3 fa-fw"></i>
                                      <div class="form-outline flex-fill mb-0">
                                          <input [(ngModel)]="user.name" #name="ngModel" name="name" type="text" id="name" placeholder="Name" class="form-control" required/>
                                      </div>
                                  </div>

                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <i class="color fas fa-user-circle fa-lg me-3 fa-fw"></i>
                                      <div class="form-outline flex-fill mb-0">
                                          <input [(ngModel)]="user.username" #username="ngModel" name="username" type="text" id="username" placeholder="Username" class="form-control" required/>
                                      </div>
                                  </div>

                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <i class="color fas fa-envelope fa-lg me-3 fa-fw"></i>
                                      <div class="form-outline flex-fill mb-0">
                                          <input [(ngModel)]="user.email" #email="ngModel" name="email" type="email" id="form3Example3c" placeholder="Email" class="form-control" required/>
                                      </div>
                                  </div>

                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <i class="color fas fa-lock fa-lg me-3 fa-fw"></i>
                                      <div class="form-outline flex-fill mb-0">
                                          <input [(ngModel)]="user.password" #password="ngModel" name="password" type="password" id="form3Example4c" placeholder="Password" class="form-control" required/>
                                      </div>
                                  </div>

                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <i class="color fas fa-key fa-lg me-3 fa-fw"></i>
                                      <div class="form-outline flex-fill mb-0">
                                          <input (keyup)="checkPassword()" #confirmPass="ngModel" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Repeat Your Password" id="form3Example4cd" class="form-control" required/>
                                      </div>
                                  </div>

                                  <div class="form-check d-flex justify-content-center mb-5">
                                      <input ngModel name="TermsConditions" class="form-check-input me-2" type="checkbox" value=""
                                          id="form2Example3c" required />
                                      <label class="form-check-label" for="form2Example3">
                                          I agree all statements in <a class="label">Terms of service</a>
                                      </label>
                                  </div>

                                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                      <button [disabled]="!registerForm.form.valid" type="submit" class="btn1 btn-lg">Register</button>
                                  </div>

                              </form>

                          </div>
                          <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                              <img src="../../../assets/img/register.png"
                                  class="img-fluid" alt="Sample image">

                          </div>
                      </div>
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button routerLink="/login" type="button" class="btn btn-primary m-3">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Login </button>
                  </div>
                </div>
          </div>
      </div>
  </div>
</section>