.btn1 
{
  min-height: 3.125rem;
  font-weight: 600;
  background-color: #0D6EFD;
  color: #FFFFFF;
}
  
.btn1:hover
{
  background-color: #5097FF;
  color: #FFFFFF;
  cursor: pointer;
}

.btn1:disabled
{
  background-color: #85B6FF;
}

.color , .label
{
  color: #0D6EFD;
  text-decoration: none;
  cursor: pointer;
}

.label:hover
{
  font-weight: 500;
}

input[type=checkbox] {
  cursor: pointer;
}

input[type=checkbox]:checked
{
  background-color: #16191C;
  border-color: #16191C;
}

.requiredField
{
  color: darkgoldenrod
}