<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="home.component.css">
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bx-football'></i>
            <span class="text" style="margin-top: 2rem;">Control Tournaments</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Tournaments</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">Teams</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a  (click)="logOut()" class="logout" routerLink="/login">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <a href="#" class="profile">
                <img src="img/people.png">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- VALIDAR LO QUE EL USUARIO ME MANDE -->
        <main *ngIf="notShow">
            <div >
                <div class="head-title">
                    <div class="left">
                        <h1>Dashboard</h1>
                    </div>
                    <a href="#" class="btn-download">
                        <i class='bx bxs-cloud-download'></i>
                        <span class="text">Download PDF</span>
                    </a>
                </div>

                <ul class="box-info">
                    <li (click)="userShow(); dontShowMain()">
                        <i class='bx bxs-group'></i>
                        <span class="text">
                            <h3>Users</h3>
                        </span>
                    </li>
                    <li (click)="tournamentsShow(); dontShowMain()">
                        <i class='bx bxs-trophy'></i>
                        <span class="text">
                            <h3>Tournaments</h3>
                        </span>
                    </li>
                    <li (click)="teamsShow(); dontShowMain()">
                        <i class='bx bxs-shield'></i>
                        <span class="text">
                            <h3>Teams</h3>
                        </span>
                    </li>
                </ul>
            </div>
        </main>

        <!-- CONTROL USUARIOS -->
        <main  *ngIf="isShownUser" >
            <div class="left binding">
                <h1>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    Control Users
                </h1>
            </div>
            <hr>
            <app-user-admin></app-user-admin>
        </main>

        <!--CONTROL DE TORNEOS-->
        <main  *ngIf="isShownTournaments" >
            <div class="left binding">
                <h1>Control Tournaments</h1>
            </div>
            <hr>
            <app-tournaments-admin></app-tournaments-admin>
        </main>

        <!--CONTROL DE EQUIPOS-->
        <main  *ngIf="isShownTeams" >
            <div class="left binding">
                <h1>Control Teams</h1>
            </div>
            <hr>
            <app-teams-admin></app-teams-admin>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="script.js"></script>
</body>

</html>