<div class="page-not-found pt-5">
    <div class="bg-light shadow">
        <h2>404<i class="bi bi-bug"></i></h2>
        <h3 class="mt-4">Page Not Found</h3>
        <div class="mt-5">
            <button type="button" class="btn p-2 m-2 m-md-2 btn-primary"><i class="bi bi-house-door-fill"></i>
                Back Home</button>
            <button type="button" class="btn p-2 m-2 m-md-2 btn-success"><i class="bi bi-person-lines-fill"></i>
                Contact Us</button>
        </div>
    </div>
</div>