<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="landing-page.component.css">
    <title>Control Tournaments</title>
</head>

<body>
    <!-- Showcase & Nav -->
    <div id="showcase">
        <div class="wrapper">
            <nav>
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content">
                    <div class="logo"><a href="#">Control Tournaments</a></div>
                    <ul class="links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li>
                            <a href="#" class="desktop-link">Features</a>
                        </li>
                        <li>
                            <a href="#" class="desktop-link">Services</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <div class="banner">
        <div id="contenedor-baner">
            <div class="section-main container">
                <h1>Control Tournaments</h1>
                <p>
                    MyTunes is the best way to organize and enjoy the music, movies, and TV shows you already have — and
                    shop for
                    the ones you
                    want. Enjoy all the entertainment myTunes has to offer on your Mac and PC.
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>